.button {
  min-width: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--text-color);
  border-radius: 15px;
  outline: none;
  padding: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--text-color);
  cursor: pointer;
  transition: all 0.3s;
}

.button_dark {
  background-color: var(--dark-color);
}

.button_light {
  background-color: var(--bright-color);
}

.button_fullwidth {
  width: 100%;
}

.button:hover {
  background-color: var(--text-color);
  color: var(--dark-color);
}

.button_light:disabled {
  cursor: not-allowed;
  background-color: var(--bright-color);
  color: var(--text-color);
  opacity: 0.6;
}

.button_dark:disabled {
  cursor: not-allowed;
  background-color: var(--dark-color);
  color: var(--text-color);
  opacity: 0.6;
}
